<?php

return [
    'serial_code_config'   => [
        'A01' => [
            'prefix' => 'hh_admin_',    // 前缀
            'ip_list' => [   // IP 白名单
                '1.1.1.1',   // 地址 1
                '8.8.8.8',   // 地址 2
                '8.8.4.4',   // 地址 3
                '1.2.4.8',   // 地址 4
                             // ...
            ],
        ],
        'B01' => [
            'prefix' => 'hh_home_',
            'ip_list' => [

            ],
        ],
        'C01' => [
            'prefix' => 'hh_app_',
            'ip_list' => [

            ],
        ],
        'D01' => [
            'prefix' => '',
            'ip_list' => [

            ],
        ],
        // ...
    ],
];
